{
    "arrowParens": "always",
    "bracketSameLine": false,
    "objectWrap": "preserve",
    "bracketSpacing": true,
    "semi": true,
    "experimentalOperatorPosition": "end",
    "experimentalTernaries": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "proseWrap": "preserve",
    "insertPragma": false,
    "printWidth": 300,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 80
            }
        },
        {
            "files": "*.json",
            "options": {
                "printWidth": 120
            }
        },
        {
            "files": "*.tsx",
            "options": {
                "printWidth": 140
            }
        }
    ],
    "requirePragma": false,
    "tabWidth": 2,
    "useTabs": false,
    "embeddedLanguageFormatting": "auto"
}
